<style>
.parent {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 40em;
}
.board {
margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}




.kw1 {
  position: absolute;
  top: 380px;
  left: 2px;
}
.kw2 {
  position: absolute;
  top: 418px;
  left: 2px;
}
.kw3 {
  position: absolute;
  top: 418px;
  left: 42px;
}
.kw4 {
  position: absolute;
  top: 380px;
  left: 42px;
}


.bw1 {
  position: absolute;
  top: 170px;
  left: 2px;
}
.bw2 {
  position: absolute;
  top: 208px;
  left: 2px;
}
.bw3 {
  position: absolute;
  top: 208px;
  left: 42px;
}
.bw4 {
  position: absolute;
  top: 170px;
  left: 42px;
}


.yw1 {
  position: absolute;
  top: 2px;
  left: 172px;
}
.yw2 {
  position: absolute;
  top: 40px;
  left: 172px;
}
.yw3 {
  position: absolute;
  top: 2px;
  left: 212px;
}
.yw4 {
  position: absolute;
  top: 40px;
  left: 212px;
}

.gw1 {
  position: absolute;
  top: 2px;
  left: 380px;
}
.gw2 {
  position: absolute;
  top: 40px;
  left: 380px;
}
.gw3 {
  position: absolute;
  top: 2px;
  left: 420px;
}
.gw4 {
  position: absolute;
  top: 40px;
  left: 420px;
}

.rw1 {
  position: absolute;
  top: 170px;
  left: 551px;
}
.rw2 {
  position: absolute;
  top: 208px;
  left: 551px;
}
.rw3 {
  position: absolute;
  top: 170px;
  left: 590px;
}
.rw4 {
  position: absolute;
  top: 208px;
  left: 590px;
}

.ww1 {
  position: absolute;
  top: 380px;
  left: 551px;
}
.ww2 {
  position: absolute;
  top: 418px;
  left: 551px;
}
.ww3 {
  position: absolute;
  top: 380px;
  left: 590px;
}
.ww4 {
  position: absolute;
  top: 418px;
  left: 590px;
}

.ow1 {
  position: absolute;
  top: 548px;
  left: 381px;
}
.ow2 {
  position: absolute;
  top: 587px;
  left: 381px;
}
.ow3 {
  position: absolute;
  top: 548px;
  left: 421px;
}
.ow4 {
  position: absolute;
  top: 587px;
  left: 421px;
}

.pw1 {
  position: absolute;
  top: 548px;
  left: 172px;
}
.pw2 {
  position: absolute;
  top: 587px;
  left: 172px;
}
.pw3 {
  position: absolute;
  top: 548px;
  left: 211px;
}
.pw4 {
  position: absolute;
  top: 587px;
  left: 211px;
}

.ph1 {
  position: absolute;
  top: 519px;
  left: 297px;
}
.ph2 {
  position: absolute;
  top: 479px;
  left: 297px;
}
.ph3 {
  position: absolute;
  top: 436px;
  left: 297px;
}
.ph4 {
  position: absolute;
  top: 395px;
  left: 297px;
}


.kh1 {
  position: absolute;
  top: 454px;
  left: 138px;
}
.m {
  position: absolute;
  top: 454px;
  left: 138px;
}

</style>
<div class="parent">
  <img class="board" src="images/board.png" height="630px">

  <img class="kw1" src="images/K.png">
  <img class="kw2" src="images/K.png">
  <img class="kw3" src="images/K.png">
  <img class="kw4" src="images/K.png">

  <img class="bp1" src="images/B.png">
  <img class="bp2" src="images/B.png">
  <img class="bp3" src="images/B.png">
  <img class="bp4" src="images/B.png">

  <img class="yp1" src="images/Y.png">
  <img class="yp2" src="images/Y.png">
  <img class="yp3" src="images/Y.png">
  <img class="yp4" src="images/Y.png">

  <img class="gp1" src="images/G.png">
  <img class="gp2" src="images/G.png">
  <img class="gp3" src="images/G.png">
  <img class="gp4" src="images/G.png">

  <img class="rp1" src="images/R.png">
  <img class="rp2" src="images/R.png">
  <img class="rp3" src="images/R.png">
  <img class="rp4" src="images/R.png">

  <img class="wp1" src="images/W.png">
  <img class="wp2" src="images/W.png">
  <img class="wp3" src="images/W.png">
  <img class="wp4" src="images/W.png">

  <img class="op1" src="images/O.png">
  <img class="op2" src="images/O.png">
  <img class="op3" src="images/O.png">
  <img class="op4" src="images/O.png">

  <img class="pp1" src="images/P.png">
  <img class="pp2" src="images/P.png">
  <img class="pp3" src="images/P.png">
  <img class="pp4" src="images/P.png">

  <img class="m" src="images/P.png">

</div>
<script type="text/javascript">
window.onload = init;
function init() {
	if (window.Event) {
	document.captureEvents(Event.MOUSEMOVE);
	}
	document.onmousemove = getCursorXY;
}

function getCursorXY(e) {
	document.getElementById('cursorX').value = (window.Event) ? e.pageX-28 : event.clientX + (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft);
	document.getElementById('cursorY').value = (window.Event) ? e.pageY-30 : event.clientY + (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);
}
</script>

<body>



<input type="text" id="cursorY" size="3"> top
<br /><br />
<input type="text" id="cursorX" size="3"> left

